﻿.jumbotron{
    background-image:url("../img/fondo.jpg");
    background-size:80%;
    background-repeat:no-repeat;
    background-position:center top;
}

.jumbotron p{
  color: white;
}

/* MARKETING CONTENT
-------------------------------------------------- */
.marketing .col {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col p {
  margin-right: 10px;
  margin-left: 10px;
}

.img-circle{
    border-radius:50%;
}





* {
  box-sizing: border-box;
}

.slider {
    width: 70%;
    margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
